
<br><br><br>

<div class="row text-center">
  <a class="center" href="https://github.com/rosejoshua/">
    <img class="img-fluid max122" src="assets/img/gh.png" alt="Github icon"><h2 class="text-dark">Github</h2></a>
  </div>
<br><br>

<div class="row text-center">
<a class="center" href="https://www.instagram.com/jrose.me/">
  <img class="img-fluid max122" src="assets/img/ig.png" alt="Instagram icon"><h2 class="text-dark">Instagram</h2></a>
</div>
<br><br>

<div class="row text-center">
<a class="center" href="https://www.linkedin.com/in/joshuaroseprofile/">
  <img class="img-fluid max122" src="assets/img/li.svg" alt="LinkedIn icon"><h2 class="text-dark">LinkedIn</h2></a>
</div>
<br><br><br>
