html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.max122 {
  max-height: 122px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

a {
  font-size:x-large;
  padding: 6px;
}

a.text-dark {
  margin-top: 10px;
}

a:hover {
  color: #0AA!important;
}

svg.cc {
  fill: #0AA!important;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.margintb7 {
  margin-top: 5px;
  margin-bottom: 7px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

