
<div class="container-fluid text-center">
  <br>
  <h1 class="display-4 cc rounded w350 my-0 mr-md-auto font-weight-light px-2 pt-1 pb-1">Joshua Rose</h1>
  <img class="img-fluid headshot" src="assets/img/headshot.jpg" alt="Joshua Rose Headshot">
</div>
<br>
<app-header></app-header>
<div class="pricing-header px-3 py-3  pb-md-4 mx-auto text-center">
  <h1 class="display-5 w70 rounded my-0 font-weight-light cc">Toolkit:</h1><br>
</div>
<div class="row">

  <div class="col-2">

    <img class="img-fluid max" src="assets/img/eclipse.svg" alt="Eclipse Icon">

  </div>
  <div class="col-2">

    <img class="img-fluid max" src="assets/img/angular.svg" alt="Angular Icon">

  </div>
  <div class="col-2">

    <img class="img-fluid max" src="assets/img/vscode.svg" alt="VS Code Icon">

  </div>
  <div class="col-2">

    <img class="img-fluid max" src="assets/img/postman.png" alt="Postman Icon">

  </div>
  <div class="col-2">

    <img class="img-fluid max" src="assets/img/bootstrap.svg" alt="Bootstrap Icon">

  </div>
  <div class="col-2">

    <img class="img-fluid max" src="assets/img/spring.svg" alt="Spring Icon">

  </div>

</div>
<br><br>
