<div class="container">
  <div class="container-fluid text-center">
<h1>Joshua Rose</h1>
<h4>Dayton, Ohio</h4>
</div>
<br>
<h2>Summary</h2>
<p>After over 10 years working with communications systems, I took on programming as a
  career because of my passion for solving problems and working in a cohesive team.</p>
<h4>Skills:</h4>
<ul>
  <li>
    Languages: Java / JEE
  </li>
  <li>
    Web: JSON, JavaScript, Angular, HTML, CSS, Bootstrap
  </li>
  <li>
    Database: SQL, JPA, JDBC, JPQL
  </li>
  <li>
    APIs: RESTful
  </li>
  <li>
    Methodologies: TDD
  </li>
  <li>
    Frameworks: Spring Boot, Agile
  </li>
  <li>
    Configuration Management: Git
  </li>
  <li>
    Splunk
  </li>
</ul>
<br>

<h2>Experience</h2>
<h4>Java Developer & Tech Support, BAS and IIoT</h4>
<h5>Cochrane Tech Services - May 2021 to Current</h5>
<ul>
  <li>
    Develops software for the Niagara Framework: a Java based software platform for
    building automation and building controls for HVAC and other commercial building systems.
  </li>
  <li>
    Maintains Object-Oriented Programming and RESTful design best practices.
  </li>
  <li>
    Uses strong analytical and debugging skills with the ability to engage in technical
    conversations with other developers and customers as necessary.
  </li>
  <li>
    Quickly learns and understands new concepts to become proficient in assisting customers
    without outside assistance. Cochrane Supply has a small team dev environment, so the
    ability to work independently and perform research for information is necessary.
  </li>
  <li>

  </li>
</ul>

<br>
<h4>Java Full-Stack Immersive Bootcamp</h4>
<h5>Skill Distillery - Jan 2021 to May 2021</h5>
<ul>
  <li>
    Designed and implemented Java full stack applications.
  </li>
  <li>
    Created RESTful microservices.
  </li>
  <li>
    Designed and implemented front end components with Angular, HTML,
    CSS, JavaScript, and Bootstrap.
  </li>
  <li>
    As Database Admin (DBA), designed and created relational databases.
  </li>
  <li>
    Implemented Spring Security.
  </li>
  <li>
    Designed and implemented Java controllers with RESTful API.
  </li>
  <li>
    Created models with SQL, Spring Boot JPA, JDBC, and repositories.
  </li>
  <li>
    Designed and implemented user interfaces (UI) with Angular, JavaScript,
    TypeScript, Bootstrap, HTML, CSS.
  </li>
  <li>
    Released applications in one week sprints and deployed to AWS.
  </li>
  <li>
    All projects completed remotely using Trello, Zoom, Slack, and Git.
  </li>
</ul>
<br>

<h4>Satellite Communications Technician</h4>
<h5>Federal Aviation Administration - Apr 2019 to May 2020</h5>
<ul>
  <li>
    Oversaw the complex Alaska Satellite Telecommunications Infrastructure
    (ASTI) networking environment with limited to no supervision.
  </li>
  <li>
    Responsibilities included network monitoring, incident response,
    communications management and reporting.
  </li>
  <li>
    Analyzed problems, performed troubleshooting and communicated with site
    technicians and other FAA personnel to track problems through resolution.
  </li>
  <li>
    Calibrated transceiver alignment using spectrum analyzer, ran bit-error
    tests on local equipment up to demarcation points, maintained local network
    equipment including modems, multiplexers, amplifiers, etc.
  </li>
</ul>
<br>

<h4>Electronic Warfare Operations Manager</h4>
<h5>United States Army - May 2010 to May 2014</h5>
<ul>
  <li>
    Planned and managed daily electronic warfare operations of 2500-person
    organization.
  </li>
  <li>
    Prioritized supported unit operational needs and balanced with limited
    EW asset availability in a deployed combat environment.
  </li>
  <li>
    Coordinated and deconflicted competing operational needs between agencies,
    departments and different branchs of joint-military forces.
  </li>
  <li>
    Educated senior leaders on electronic warfare (EW) capabilities, conducted
    on-the-ground training, developed policy, wrote operations orders.
  </li>
</ul>
<br>

<h4>Supervisory Network Technician</h4>
<h5>United States Air Force - Jan 2004 to Jan 2009</h5>
<ul>
  <li>
    Supervised and performed malfunction isolation, equipment repair, preventative
    maintenance inspections and corrosion control on associated tactical shelters and radar
    equipment.
  </li>
  <li>
    Used equipment schematics, circuit logic diagrams, Test Measurement and Diagnostic
    Equipment (TMDE), and consolidated tool kits to ensure full compliance with technical
    data, instructions, software updates, and work standards; documented maintenance actions.
  </li>
  <li>
    Volunteered for one-year deployment with the US Army to serve as a Provincial
    Reconstruction Team communications technician. Installed and maintained vehicle-mounted
    satcom transceivers, radios, and electronic warfare equipment.
  </li>
  <li>
    Equipment training included optical time-domain reflectometer, high-reliability
    soldering, Blue Force Tracker installation and maintenance, Electronic Principles
    Course (AC circuits, DC circuits, solid-state theory, transceiver and receiver systems,
    integrated circuit analysis, advanced computer networking).
  </li>
</ul>
<br>

<h2>Education</h2>
<h4>Community College of the Air Force</h4>
<h5>Associate of Applied Science, Electronic Systems Technology - Aug 2007</h5>

<br><br><br>
</div>
