<div class="container">
  <div class="container-fluid text-center">
<h1>Joshua Rose</h1>
<h4>Dayton, Ohio</h4>
</div>
<br>
<h2>Summary</h2>
<p>After over 10 years working with communications systems, I took on programming as a career because of my passion for solving problems and working in a cohesive team.</p>
<h5>Skills:</h5>
<ul>
  <li>
    Languages: Java / JEE
  </li>
  <li>
    Web: JSON, JavaScript, Angular, HTML, CSS, Bootstrap
  </li>
  <li>
    Database: SQL, JPA, JDBC, JPQL
  </li>
  <li>
    APIs: RESTful
  </li>
  <li>
    Methodologies: TDD
  </li>
  <li>
    Frameworks: Spring Boot, Agile
  </li>
  <li>
    Configuration Management: Git
  </li>
  <li>
    Splunk
  </li>
</ul>


<br>
<h2>Experience</h2>
<h4>Java Full-Stack Immersive Bootcamp</h4>
<h5>Skill Distillery - Jan 2021 to May 2021</h5>
<ul>
  <li>
    Designed and implemented Java full stack applications.
  </li>
  <li>
    Created RESTful microservices.
  </li>
  <li>
    Designed and implemented front end components with Angular, HTML, CSS, JavaScript, and Bootstrap.
  </li>
  <li>
    As Database Admin (DBA), designed and created relational databases.
  </li>
  <li>
    Implemented Spring Security.
  </li>
  <li>
    Designed and implemented Java controllers with RESTful API.
  </li>
  <li>
    Created models with SQL, Spring Boot JPA, JDBC, and repositories.
  </li>
  <li>
    Designed and implemented user interfaces (UI) with Angular, JavaScript, TypeScript, Bootstrap, HTML, CSS.
  </li>
  <li>
    Released applications in one week sprints and deployed to AWS.
  </li>
  <li>
    All projects completed remotely using Trello, Zoom, Slack, and Git.
  </li>

</ul>

</div>
